python-telegram-bot==20.3
garminconnect==0.2.25
anthropic==0.45.0
numpy==1.26.4
pandas==2.2.3
cryptography>=43.0.3
python-dotenv==1.0.0
crewai==0.105.0
litellm>=1.60.2
httpx==0.27.2
setuptools>=75.6.0